{% extends 'base.html' %}

{% block content %}
<div class="post-list-container">
  <h1 class="blog-list-header">Blog List</h1>
  <div class="row">
    {% for post in page_obj %}
    <div class="col-md-4">
      <div class="card mb-4 card-transparent"> <!-- Add the card-transparent class here -->
        <div class="card-body">
          <h2 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
          <p class="card-text">{{ post.description }}</p>
        </div>
      </div>
      
    </div>
    {% endfor %}
  </div>

  <!-- Pagination Links -->
  <div class="pagination justify-content-center">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}