/* custom.css */

/* Header Styles */
.header {
  background-image: url('static/images/arcade.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 20px 0; /* Adjust padding as needed */
  opacity: 0.9; /* Adjust opacity to make the header slightly transparent */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Adjust padding as needed */
}

.header h1 {
  color: white; /* Set header text color */
  font-size: 24px; /* Adjust header font size */
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  margin-left: 20px;
}

.navbar ul li a {
  color: white; /* Set link color */
  text-decoration: none;
}

.navbar ul li a.active {
  font-weight: bold;
}
