/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: 'Literata', sans-serif;
  background-color: darkgray;
  line-height: 1.6;
  color: #BFCFE0;
}

/* Header Styles */
header {
  background-color: rgba(59, 51, 68, 0.8);
  color: #BFCFE0;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.landing-image {
  background-image: url('images/arcade.webp');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  z-index: -1;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a.active {
  font-weight: bold;
}

/* Container Styles */
.container-404 {
  background-color: rgba(59, 51, 68, 1.0);
  color: #BFCFE0;
  padding: 20px;
  border-radius: 10px;
  margin: inherit;
}

.signup-form-text,
.signup-title,
.signup-text,
.logout-container,
.login-container,
.blog-list-header,
.post-list-container,
.comment-edit-container,
.delete-container,
.about-me-main-content,
.rsvp-form-container,
.rsvp-container,
.event-list-header {
  background-color: rgba(59, 51, 68, 1.0);
  color: #BFCFE0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.signup-form-text .custom-button,
.logout-container .custom-button,
.login-container .custom-button,
.edit-custom-button,
.comment-form-container button {
  background-color: #5d5d81;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form-text .custom-button:hover,
.logout-container .custom-button:hover,
.login-container .custom-button:hover,
.edit-custom-button:hover,
.comment-form-container button:hover {
  background-color: green;
}

/* Main Content Styles */
main {
  padding-top: 110px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
}

.main-title {
  text-align: center;
  color: #bfcde0;
  font-family: 'Bowlby One SC', sans-serif;
}

/* Footer Styles */
footer {
  background-color: rgba(59, 51, 68, 0.5);
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Add styles for larger screens (desktop) */
.about-container {
  display: flex; /* Use flexbox for layout */
}

.img.about-image {
  padding: 10px;
  justify-content: left;
  width: -webkit-fill-available;
}
img { padding: 10px;
  justify-content: left;
  width: -webkit-fill-available;}

.about-article {
  flex: 1; /* Allow the article to expand to fill the remaining space */
}



