{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="about-container">
        <div class="about-me-image">
          {% if "placeholder" in about.profile_image.url %}
            <img src="{{ about.profile_image.url }}" alt="{{ about.title }}">
          {% else %}
            <img src="/static/images/aboutme.webp"  width="350" 
            height="550"  alt="{{ about.title }}">
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="about-me-main-content">
        <h2 class="about-me-title">{{ about.title }}</h2>
        <article>
          {{ about.content | safe }}
        </article>
        <p class="updated-on"><em>Updated on: {{ about.updated_on }}</em></p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
