{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="about-container"> <!-- Container for the image -->
        {% if "placeholder" in about.profile_image.url %}
        <img src="{% static 'images/aboutme.webp' %}" width="100%"
          alt="placeholder image" >
        {% else %}
        <img src="{{ about.profile_image.url }}" width="100%"
          alt="{{ about.title }}">
        {% endif %}
      </div>
    </div>
    <div class="col-md-8">
      <div class="about-me-main-content">
        <!-- Title goes between these h2 tags -->
        <h2 class="about-me-title">{{ about.title }}</h2>
        <!-- Content goes directly underneath this -->
        <article>
          {{ about.content | safe }}
        </article>
        <!-- Updated on field goes in here -->
        <p class="updated-on"><em>Updated on: {{ about.updated_on }}</em></p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
